<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
  <h2>{{title}}</h2>
  <p>
    Nuevo Heroe:
    <input type="text" #box (Keyup.enter)="addHero(box.value); box.value=''" placeholder="Nombre del Heroe" />
    <input type="date" [(ngModel)]="birthDay" value="{{birthDay}}" />
    <input id="can-fly" type="checkbox" [(ngModel)]="canFly" />
    Puede volar
  </p>
  <p>
    <button (click)="reset()">Reset</button>
  </p>
  <h4>Heroes que vuelan (filtrados)</h4>
  <div id="flyers">
    <div *ngFor="let hero of (heroes | flyingHeroes)">
      <div style="display: inline-block;">
        <p>{{hero.name}}</p>
        <p>{{hero.birthDay | date:format}}</p>
        <button (click)="change()">Formatear cumpleaños</button>
      </div>
    </div>
    <div>
      <h4>Todos los Heroes (sin filto)</h4>
      <div id="all">
        <div *ngFor="let hero of heroes">
          <div style="display: inline-block;">
            <p>{{hero.name}}</p>
            <p>{{hero.birthDay | date:format}}</p>
            <button (click)="change()">Formatear cumpleaños</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>Calculadora de Potencia</h3>
    <div>
      <div style="display: block; margin-bottom: 1rem;">
        Poder Normal: <input type="text" [(ngModel)]="power" />
      </div>
      <div style="display: block; margin-bottom: 1rem;">
        Factor de boost: <input type="text" [(ngModel)]="factor" />
      </div>
      <p>Poder: {{power | exponentialStrength: factor}}</p>
    </div>
  </div>
  <div>
    <h2>Heroes from JSON File</h2>

    <div *ngFor="let hero of ('assets/heroes.json' | fetch) ">
      {{hero.name}}
    </div>

    <p>Heroes as JSON:
      {{'assets/heroes.json' | fetch | json}}
    </p>
  </div>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>