<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content">
  <!-- <div>
      <form #login="ngForm" (ngSubmit)="onClickSubmit(login.value)">
        <input type="text" name="email" placeholder="email" ngModel />
        <br />
        <input type="password" name="pwd" placeholder="password" ngModel />
        <br />
        <input type="submit" value="Enviar" />
      </form>
    </div> -->
  <div class="container">
    <div class="title_container">
        <h3 class="title">Ingrese su Identificacion personal</h3>
        <p class="subtitle">Antes de que ingrese a su cuenta, tiene que confirmar su identidad</p>
    </div>
    <form [formGroup]="angForm">
      <div class="form_container_1">
        <div class="form_content">
          <label class="label_form" for="#nombre">Nombre</label>
          <input  class="form_input" type="text" id="nombre" name="nombre" placeholder="Nombre" formControlName="nombre" #nombre />
        </div>
        <div class="form_content">
          <label class="label_form" for="#primer_apellido">Primer Apellido</label>
          <input  class="form_input" type="text" id="primer_apellido" name="primer_apellido" placeholder="Primer Apellido"
            formControlName="primer_apellido" #primer_apellido />
        </div>
        <div class="form_content">
          <label class="label_form" for="#segundo_apellido">Segundo Apellido</label>
          <input class="form_input" type="text" id="segundo_apellido" name="segundo_apellido" placeholder="Segundo Apellido"
            formControlName="segundo_apellido" #segundo_apellido />
        </div>
      </div>
      <div>
        <div>
          <label for="#fecha_nacimiento">Fecha Nacimiento</label>
          <select name="dia_nacimiento" formControlName="dia_nacimiento" #dia_nacimiento>
            <option selected>Dia</option>
            <option *ngFor="let num of counter(30); let i = index" value="{{i+1}}">{{i+1}}</option>
          </select>
          <select name="mes_nacimiento" formControlName="mes_nacimiento" #mes_nacimiento>
            <option selected>Mes</option>
            <option *ngFor="let month of months();" value="{{month}}">{{month}}</option>
          </select>
          <select name="año_nacimiento" formControlName="año_nacimiento" #año_nacimiento>
            <option selected>Año</option>
            <option *ngFor="let year of years();" value="{{year}}">{{year}}</option>
          </select>
        </div>
      </div>
      <div>
        <div>
          <label for="#email">Correo Electronico</label>
          <input type="text" id="email" name="email" placeholder="email" formControlName="email" #email />
        </div>
      </div>
      <div>
        <div>
          <label for="#password">Contraseña</label>
          <input type="password" id="password" name="pwd" placeholder="password" formControlName="password" #password />
        </div>
      </div>
      <div>
        <div>
          <label for="#password_repeat">Confirmar la contraseña</label>
          <input type="password" id="password_repeat" placeholder="Confirmar Contraseña" formControlName="password_repeat" #password_repeat/>
        </div>
      </div>
      <input type="submit" value="Registrar" (click)="onClickSubmit(email.value, password.value, mes_nacimiento.value)">
    </form>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>